/* start reset */

html, body, div, p, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, form, fieldset, caption, legend,
table, tr, td, th, address, blockquote, img, button {
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: none;
}

blockquote, q {
    quotes: none;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button, label, summary {
    cursor: pointer;
}

body, button, input, table, textarea, select {
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* end reset */

body {
    background: #4a4f4e;
}

html, body, #root {
    height: 100%;
    font: normal 1em/1.5 Lato, serif;
}

h1 {
    display: flex;
    align-items: center;
    column-gap: .25em;
}

#container {
    min-height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em;
}

button {
    background: #ccc;
    padding: .5em 1.5em;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    width: calc(100% - 2em);
}

#modal > span {
    width: 100% !important;
}

#modal label {
    display: flex;
    column-gap: 1em;
    align-items: center;
}

#modal input {
    flex-grow: 1;
}

#modal header {
    background: #eee;
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}

#modal form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#modal #errorMessage {
    background: #fce9e9;
    padding: .5em;
    display: flex;
    align-items: center;
    column-gap: .25em;
    color: darkred;
}

#errorMessage svg {
    color: darkred;
    width: 1.5em;
    height: 1.5em;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 32em) {
    #modal {
        max-width: 32em;
    }

    #container > button {
        align-self: flex-start;
    }
}